{% extends 'my_base.html' %}
{% block title %}Nynlabs.com{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}"/>
{% endblock %}


{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block content %}
<main style="min-height: 100vh;">
<div class="view">
  <div class="mask pattern-9 flex-center waves-effect waves-light">
    <p class="white-text">.pattern-9</p>
  </div>
</div>

<section class="bg-dark"> 
  <div class="container">
    <div class="row">
    
    <div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Panel title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Panel title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
</div>

    </div>
  </div>
  <h1>Homepage</h1>
  <div class="row">
    <div class="col-md-4">
    {% load static %}
      <img src="{% static 'images/ninja_icon.png' %}" alt="responsive image example" class="img-fluid thumbnail" style="width:75px;">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</section>
{% endblock %}