{% extends 'base.html' %}
{% block title %}Nynlabs.com{% endblock %}

{% block header %}
<div class="row" style="min-height: 50vh;">
  <div class="col-8">
    <h1>Welcome!</h1>
  </div>
  <div class="col-4">
  {% load static %}
      <img src="{% static 'images/mmike.jpg' %}" alt="selfie" class="img-responsive">
  </div>
</div>
{% endblock %}

{% block content %}
<main>
  <section class="bg-dark"> 
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="card my-2 p-3">
              <h5 class="card-title">Panel title</h5>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}